.item-list {
  width: 80%;
  margin: 30px auto;
  color: #2c2c2c;

  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      border: 1px solid #ddd;
      padding: 15px;
      margin-bottom: 10px;
      background-color: #f6f6f6;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        margin: 5px 0;
      }

      h2 {
        font-size: 18px;
        color: #333;
      }
    }
  }
}
